@import 'https://fonts.googleapis.com/css?family=Cairo';

h1{
	color: black;
	background-color: rgb(135, 205, 222);
	display: inline-block;
	border: rgb(44, 137, 160) solid 4px;
	border-radius: 10em;
	padding-left: 10px;
	padding-right: 10px;
}

#desc{
	display: inline-block;
	color: black;
	background-color: rgb(255, 127, 42);
	border: rgb(170, 68, 0) solid 4px;
}

#avatar{
	width: 128px;
	height: 128px;
	float: left;
}
body{
	font-family: "Cairo", sans-serif;
	text-align: center;
	background-image: url("city.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.item{
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 250px;
	background-color: rgb(153, 255, 85);
	border: rgb(51, 128, 0) 4px solid;
	border-radius: 1em;
}

.icon{
	width: 196px;
	height: 196px;
	object-fit: scale-down;
	object-position: center;
}

#blog{
	order: 0;
	background-color: rgb(222, 170, 135);
}
