@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    font-family: 'PT Sans', sans-serif;    
    margin: 0;
    padding: 0;
    background-color: rgb(193,195,193);
}
.title{
    text-align: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.text-container{
    flex: 1;
    order: 1;
}
.text{
    background-color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.top{
    background-color: #bad4af;
    border-radius: 5px 5px 0px 0px;
    padding-left: 5px;
}
.end{
    text-align: center;
    background-color: #afc3d4;
    border-radius: 0px 0px 5px 5px;
    padding-left: 5px;
}
.middle{
    padding-left: 5px;
}
.canvas{
    flex: 1;
    order: 2;
}

@media all and (max-width: 640px){
    .content{
        flex-flow: column;
    }
    .canvas{
        order: 0;
    }

}